<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add User</title>
    <link type="text/css" rel="stylesheet" href="bootstrap.min.css" th:href="@{bootstrap.min.css}"/>
</head>
<body>
<div class="col-3"></div>
<div class="container col-6">
    <h1>Edit user</h1>
    <form th:object="${user}" th:action="@{update}" method="post">
        <input type="hidden" th:field="*{id}">
        <div>
            <label th:text="Name" th:for="name"></label>
            <input type="text" th:field="*{name}" class="form-control"/>
            <span th:if="${#fields.hasErrors('name')}" th:error="*{name}"></span>
        </div>
        <div style="clear: both; display: block; height: 10px"></div>
        <div>
            <label th:text="Email" th:for="email"></label>
            <input type="text" th:field="*{email}" class="form-control"/>
            <span th:if="${#fields.hasErrors('email')}" th:error="*{email}"></span>
        </div>
        <div style="clear: both; display: block; height: 10px"></div>
        <div>
            <label th:text="Password" th:for="password"></label>
            <input type="text" th:field="*{password}" class="form-control"/>
            <span th:if="${#fields.hasErrors('password')}" th:error="*{pasword}"></span>
        </div>
        <div style="clear: both; display: block; height: 10px"></div>
        <div>
            <label th:text="Phone" th:for="phone"></label>
            <input type="text" th:field="*{phone}" class="form-control"/>
            <span th:if="${#fields.hasErrors('phone')}" th:error="*{phone}"></span>
        </div>
        <div style="clear: both; display: block; height: 10px"></div>
        <div>
            <label th:text="Address" th:for="address"></label>
            <input type="text" th:field="*{address}" class="form-control"/>
            <span th:if="${#fields.hasErrors('address')}" th:error="*{address}"></span>
        </div>
        <div style="clear: both; display: block; height: 10px"></div>
        <input type="submit" class="btn btn-success" value="Save"/>
    </form>
</div>
</body>
</html>