<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<h1 th:if="${bills} != null">
  hehe
</h1>
<table id="products" th:if="${bills} != null">
  <thead>
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th>Description</th>
    <th>Image</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="b : ${bills}">
    <td th:text="${b.id}"></td>
    <td th:text="${b.date()}"></td>
    <td th:text="${b.total}"></td>
    <td th:text="${b.statusBill.s_name}"></td>
  </tr>
  </tbody>
</table>
</body>
</html>